@{
    ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}



  <h3 style="color:brown">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Admin DashBoard</h3><hr /><br /><br />

        <div class="col-xs-4">
            <a href="~/Admin/Upload"><button type="button" class="btn btn-primary btn-lg btn-block"> Add New Product </button></a><br />
            <a href="~/Admin/show"><button type="button" class="btn btn-success btn-lg btn-block"> View All Products </button></a><br />
          
        </div>

        <div class="col-xs-4">
             <a href="~/Account/Update"><button type="button" class="btn btn-info btn-lg btn-block"> Update Existing Product </button></a><br />
            <a href="~/Admin/Delete"><button type="button" class="btn btn-danger btn-lg btn-block"> Delete Product </button></a><br />
        </div>



