@{
    ViewBag.Title = "ContactUs";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>   
    <h1>
        Mirza Zeeshan Saleem
    </h1>
    <img src="~/Images/Admin.png" style="height:150px ; width : 150px">
    <h3>
        Email : mshani444@gmail.com
    </h3>
    </div>



